{% extends "subpage.html.twig" %}
{% block title %}Tipp abgeben{% endblock %}

{% block content %}
	<h1>Spieltag {{ matchDay }}</h1>
	{% if saved %}
		<div class="alert alert-success" role="alert">Deine Tipps wurden gespeichert.</div>
	{% endif %}


	<div id="tipContent">
		<form action="{{ path('ts_superkicker_tipp_save') }}" id="tippCreate" method="post">

		<div id="prevMatchDay">
			{% if prevMatchDay < matchDay %}
				<a href="{{ path('ts_superkicker_tipp_edit', {'matchDay': prevMatchDay}) }}">&nbsp;&lt;&lt;&nbsp;</a>
			{% endif %}

		</div>
		<div id="tipdata">

				<table class="table">

					{% for matchTip in matchTips %}
						<tr>
							<td style="text-align: right">{{ matchTip.match.homeclub.name }}</td>
							<td style="width: 50px;">
								<div class="input-group input-group-sm">

									<input type="text" class="form-control" size="2"
										   name="match[{{ matchTip.match.id }}][home]"
										   id="match_{{ matchTip.match.id }}_home"
										   value="{{ matchTip.tip.homeScore | default() }}" />
								</div>
							</td>
							<td style="width: 50px;">
								<div class="input-group input-group-sm">
									<input type="text" class="form-control" size="2"
										   name="match[{{ matchTip.match.id }}][guest]"
										   id="match_{{ matchTip.match.id }}_guest"
										   value="{{ matchTip.tip.guestScore | default() }}"
											/>
								</div>
							</td>
							<td>{{ matchTip.match.guestclub.name }}</td>

						</tr>
					{% endfor %}
				</table>
		</div>
		<div id="nextMatchDay">
			{% if nextMatchDay > matchDay %}
				<a href="{{ path('ts_superkicker_tipp_edit', {'matchDay': nextMatchDay}) }}">&nbsp;&gt;&gt;&nbsp;</a>
			{% endif %}
		</div>
		<input type="submit" class="btn btn-default navbar-btn" value="Speichern"/>
		</form>

	</div>


{% endblock %}