{% extends "subpage.html.twig" %}


{% block title %}Tipp abgeben{% endblock %}

    {% block matchDays %}
        <div class="text-center">
            <div class="btn-group" role="group" aria-label="Spieltag">
                {% if prevMatchDay < matchDay %}
                    <a type="button" class="btn btn-default" href="{{ path('ts_superkicker_tipp_edit', {'matchDay': prevMatchDay, 'tournamentId': tournamentId}) }}"><span aria-hidden="true">&larr;</span></a>
                {% else %}
                    <a type="button" class="btn btn-default disabled" href="#"><span aria-hidden="true">&larr;</span></a>

                {% endif %}
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Spieltag {{ matchDay }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-left tile-dropdown">
                        <li>

                            {%for day in 1..matchDays%}
                            <a class="tile" href="{{ path('ts_superkicker_tipp_edit', {'matchDay': day, 'tournamentId': tournamentId}) }}">{{ day }}</a>

                            {% if day % 4 == 0 %}
                        </li>
                        <li>
                            {% endif %}

                            {% endfor %}
                        </li>
                    </ul>
                </div>
                {% if nextMatchDay > matchDay %}
                    <a type="button" class="btn btn-default" href="{{ path('ts_superkicker_tipp_edit', {'matchDay': nextMatchDay, 'tournamentId': tournamentId}) }}"><span aria-hidden="true">&rarr;</span></a>
                {% endif %}

            </div>
        </div>
    {% endblock %}

{% block content %}
    <h1><span class="hideonmobile">Tipps - </span>Spieltag {{ matchDay }}</h1>

    {% if saved %}
        {{ include('SuperkickerBundle:Helper:flashmessage.html.twig', {'message':'Deine Tipps wurden gespeichert!'}) }}
    {% endif %}

    <form action="{{ path('ts_superkicker_tipp_save') }}" id="tippCreate" class="form-horizontal" method="post">
        {{ block('matchDays') }}

        <div id="tipContent" class="pagination-table">

            <input type="hidden" name="matchDay" value="{{ matchDay }}"/>
            <input type="hidden" name="tournamentId" value="{{ tournamentId }}"/>

            <div id="tipdata" class="pagination-content">

                <table class="responsive table">
                    <tr class="headline">
                        <th>Datum</th>
                        <th>Paarung</th>
                        <th>Ergebnis</th>
                        <th>Deine Punkte</th>
                        <th>Dein Tipp</th>
                    </tr>
                    {% for matchTip in matchTips %}

                        <tr>
                            <td data-title="Datum:" class="mobiledetail">
                                {{ matchTip.match.date|date("d.m.Y H:i") }}
                            </td>
                            <td data-title="Paarung:">
                                {% if matchTip.match.homeclub.logoWebPath %}
                                    <img src="{{  matchTip.match.homeclub.logoWebPath }}" width="30" height="30" />
                                {% endif %}

                                <span class="hideonmobile">{{ matchTip.match.homeclub.name }}</span>

                                :

                                <span class="hideonmobile">{{ matchTip.match.guestclub.name }}</span>

                                {% if matchTip.match.guestclub.logoWebPath %}
                                    <img src="{{  matchTip.match.guestclub.logoWebPath }}" width="30" height="30" />
                                {% endif %}

                            </td>
                            <td data-title="Ergebnis:" class="mobiledetail">
                                {% if matchTip.match.homeScore and matchTip.match.guestScore  %}
                                    {{ matchTip.match.homeScore }} : {{ matchTip.match.guestScore }}
                                {% endif %}
                            </td>

                            <td data-title="Punkte:" class="mobiledetail">
                                {{ matchTip.score }}
                            </td>
                            <td data-title="Tipp:">
                                <div class="row score-group">
                                    <div class="form-group col-xs-5">
                                        {% if matchTip.match.isStarted %}
                                            <input type="text" class="form-control input-group-lg score" size="1" disabled
                                                   value="{{ matchTip.tip.homeScore | default() }}"/>
                                        {% else %}
                                            {% if loop.last %}
                                                <input type="text" class="form-control input-group-lg score" size="1"
                                                       name="match[{{ matchTip.match.id }}][home]"
                                                       id="match_{{ matchTip.match.id }}_home"
                                                       value="{{ matchTip.tip.homeScore | default() }}"
                                                       autofocus="autofocus"/>
                                            {% else %}
                                                <input type="text" class="form-control input-group-lg score" size="1"
                                                       name="match[{{ matchTip.match.id }}][home]"
                                                       id="match_{{ matchTip.match.id }}_home"
                                                       value="{{ matchTip.tip.homeScore | default() }}"/>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="form-group col-xs-2" style="text-align: center">:</div>
                                    <div class="form-group col-xs-5">

                                        {% if matchTip.match.isStarted %}
                                            <input type="text" class="form-control input-group-lg score" size="1" disabled
                                                   value="{{ matchTip.tip.guestScore | default() }}"/>
                                        {% else %}
                                            {% if loop.last %}
                                                <input type="text" class="form-control input-group-lg score" size="1"
                                                       name="match[{{ matchTip.match.id }}][guest]"
                                                       id="match_{{ matchTip.match.id }}_guest"
                                                       value="{{ matchTip.tip.guestScore | default() }}"
                                                       autofocus="autofocus"
                                                        />
                                            {% else %}
                                                <input type="text" class="form-control input-group-lg score" size="1"
                                                       name="match[{{ matchTip.match.id }}][guest]"
                                                       id="match_{{ matchTip.match.id }}_guest"
                                                       value="{{ matchTip.tip.guestScore | default() }}"/>

                                            {% endif %}


                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="extrainfo">
                    Gesammtpunkte: {{ scoreForDay }}
                </div>
            </div>
        </div>
        {{ block('matchDays') }}

        <input type="submit" class="btn btn-default navbar-btn" value="Speichern"/>
    </form>
{% endblock %}