<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ asset('bundles/superkicker/css/bootstrap.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/superkicker/css/main.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<title>{% block title %}{% endblock %}</title>
	</head>
	<body id="main">
		<nav class="navbar navbar-inverse navbar-fixed-top" id="menu">
			{% block menu %}
			<div class="container-fluid">


						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
									<li>
										<a href="{{ path('ts_superkicker_index') }}" id="home">Home</a>
									</li>

									{% if tournaments is defined %}
										{% for tournament in tournaments %}
											<li class="dropdown">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ tournament.name }} <span class="caret"></span></a>
												<ul class="dropdown-menu">
													{% if is_granted('ROLE_USER') %}
														<li>
															<a href="{{ path('ts_superkicker_tipp_edit',  {'tournamentId': tournament.id}) }}" id="tipps" class="animate">Tipps</a>
														</li>
													{% endif %}

													{% if is_granted('ROLE_USER') %}
														<li>
															<a href="{{ path('ts_superkicker_ranking_show',  {'tournamentId': tournament.id}) }}" id="tipps" class="animate">Ranking</a>
														</li>
													{% endif %}

													{% if is_granted('ROLE_USER') %}
														<li>
															<a href="{{ path('ts_superkicker_rules_show',  {'tournamentId': tournament.id}) }}" id="tipps" class="animate">Regeln</a>
														</li>
													{% endif %}

													{% if is_granted('ROLE_ADMIN') %}
														<li>
															<a href="{{ path('ts_superkicker_match_edit',  {'tournamentId': tournament.id}) }}" id="matches" class="animate">Spielplan</a>
														</li>
													{% endif %}
												</ul>

											</li>
										{% endfor %}
									{% endif %}

									{% if is_granted('ROLE_ADMIN') %}
										<li>
											<a href="{{ path('ts_superkicker_club_edit') }}" id="clubs" class="animate">Vereine</a>
										</li>
									{% endif %}
									{% if is_granted('ROLE_ADMIN') %}
										<li>
											<a href="{{ path('ts_superkicker_tournament_edit') }}" id="tournaments" class="animate">Turniere</a>
										</li>
									{% endif %}

									{% if is_granted('ROLE_USER') %}
										<li>
											<a href="/logout" class="animate" id="logout">Logout</a>
										</li>
									{% endif %}
							</ul>
						</div><!-- /.navbar-collapse -->

				</div><!-- /.container-fluid -->
			{% endblock %}
		</nav>
		<div id="content">

			<div class="container-fluid" id="bar">
				<div class="row" id="teaser">
					<div class="col-md-1">&nbsp;</div>
					<div class="col-md-10">{% block content %}{% endblock %}
					<div class="col-md-1">&nbsp;</div>
				</div>
			</div>
		</div>
		<div id="footer">
			{% block footer %}{% endblock %}
		</div>
		<script src="{{ asset('bundles/superkicker/js/jquery.js') }}"></script>
		<script src="{{ asset('bundles/superkicker/js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('bundles/superkicker/js/main.js') }}"></script>

	</body>
</html>