{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <div id="login">
        <h1>Login</h1>
        <hr />
        {% if error %}
            <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>


            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-user" aria-hidden="true" id="basic-addon1"></span>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"
                       class="form-control" placeholder="Username" aria-describedby="basic-addon1" size="20" autofocus="autofocus"/>

            </div>

            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-lock" aria-hidden="true" id="basic-addon1"></span>
                <input type="password" id="password" name="_password" required="required"
                       class="form-control" aria-describedby="basic-addon1" size="20"/>
            </div>
            <p>&nbsp;</p>

            <div class="input-group">
                <input type="submit" class="btn btn-default" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </div>
        </form>

        <hr />
        <p><small><a href="{{ path('fos_user_resetting_request') }}">Passwort vergessen?</a></small></p>
        <p><small>Noch keinen Account? <a href="{{ path('fos_user_registration_register') }}">Hier registrieren!</a></small></p>

    </div>
{% endblock fos_user_content %}