{% extends "subpage.html.twig" %}

{% block title %}Clubs editieren{% endblock %}

{% block heading %}Clubs{% endblock %}

{% block content %}
		<h1>Vereine</h1>
		{% if saved %}
			{{ include('SuperkickerBundle:Helper:flashmessage.html.twig', {'message':'Die clubs wurden gespeichert!'}) }}
		{% endif %}
		<form action="{{ path('ts_superkicker_club_save') }}" enctype="multipart/form-data" id="clubCreate" method="post">
			<table class="responsive table">
				<tr class="headline">
					<th>Verein</th>
					<th>Logo</th>
				</tr>

				{% for club in allClubs %}
					<tr>
						<td data-title="Verein">
							<input type="text"
								   name="clubs[{{ club.id }}][name]"
								   id="club_{{ club.id }}_name"
								   value="{{ club.name | default() }}" class="form-control"/>

						</td>

						<td data-title="Logo">
							<input type="file" name="logo_{{ club.id }}" data-preview="{{ club.logoWebPath }}">
						</td>

					</tr>
				{% endfor %}
				<tr>
					<td data-title="Verein">
						<input type="text"
							   name="clubs[new][name]"
							   id="club_new_name"
							   value="" class="form-control" autofocus="autofocus"/>

					</td>
					<td data-title="Logo">
						<input type="file" name="logo_new">
					</td>

				</tr>

			</table>
			<input type="submit" class="btn btn-default navbar-btn" value="Speichern"/>
		</form>
{% endblock %}